/* Basic reset and styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

main .chart {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.stock-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stock-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.stock-item img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.stock-details {
  flex: 1;
}

.stock-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.stock-details p {
  margin-bottom: 5px;
}

.stock-details a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
}

.crypto-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading{
  display: flex;
  justify-content: space-between;
}

.heading h3{
  color: red;
}

.price-chart {
  margin-top: 30px;
}

.price-chart h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.price-chart img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Skeleton Loader */
.skeleton {
  background-color: #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.skeleton-text {
  width: 100%;
  height: 20px;
}

.skeleton-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.skeleton-large-text {
  width: 60%;
  height: 20px;
  margin-bottom: 5px;
}

.skeleton-small-text {
  width: 40%;
  height: 15px;
}

.skeleton-chart {
  height: 200px;
  width: 100%;
}

button.active {
  background-color: #333;
  color: #fff;
}

button {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
